<body class="body-section-background">


    <section class="section-h1-btn-box">
        <div class="section-h1-btn">
            <h1>Cinema<br>Ironhack</h1>
            <div class="contacts">
                <div>
                    <a href="https://www.github.com/luismartires"><img class="contacts-img" src="/images/github.png"
                            alt=""></a>
                    <a href="https://www.linkedin.com/in/luismartires"><img class="contacts-img"
                            src="/images/linkedin.png" alt=""></a>
                    <a href="https://stackoverflow.com/story/luismartires"><img class="contacts-img"
                            src="/images/stack.png" alt=""></a>
                </div>
            </div>
            <div>
                <button><a href="/movies">Check the movies!</a></button>
            </div>
        </div>
    </section>

</body>