<body class="body-section-background">
    
<section class="section-h1-btn-box">
    <div class="section-h1-btn">
        <h1>Cinema<br>Ironhack</h1>
        <div>
            <button><a href="/movies">Check the movies!</a></button>
        </div>
    </div>
</section>

</body>